body{
	background-color:#999;
	margin:0 auto;
}
p, h1, h2 {
	font-family: Tahoma, Geneva, sans-serif;
}
p {
	font-size:1em;
	line-height:1.4em;
}
h1, h2 {
	font-weight: bold;
	margin:0;
}
h1 {
	color:#fff;
	font-size:2em;
}
.block {
	display:block;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
.clearfix{
	float:none;
	clear:both;
}
header {
	background-color:#000;
	padding:1em;
	text-align:center;
	margin:0 auto;
}
button{
	padding:3px;
	margin:10px 0;
	color:#fff;
	font-weight:bold;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
}
.blueGradient {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */
}
.blueGradient:hover {
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 50%, #207cca 51%, #2989d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#7db9e8), color-stop(51%,#207cca), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 50%,#207cca 51%,#2989d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 50%,#207cca 51%,#2989d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 50%,#207cca 51%,#2989d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 50%,#207cca 51%,#2989d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 ); /* IE6-8 */
}
.shadowed {
	box-shadow: 0 5px 4px #666;
	-moz-box-shadow:5px 5px 5px #666;
}
section.container{
	width:60%;
	min-height:400px;
	margin:40px auto;
	background:#fff;
	border:2px solid #000;
	padding:10px;
}
#uploadForm {
	width:50%;
}
#imgPreview {
	width:48%;
	text-align:center;
	float:right;
}
input.fileField {
	width: 400px;
	padding:4px;
	border:1px solid #ddd;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
}
#fileInformation {
	margin: 10px 0;
	overflow:hidden;
	display:none;
}
p#filename,
p#filesize,
p#filetype,
p#filedimension {
	color:#ccc;
	margin:0;
	font-size:0.9em;
}
p#filename {
	margin-top:10px;
}
p#error {
	font-color:#f10;
}
